.slider {
    position: relative;
    width: 640px;
    height: 480px;
    margin: 0 auto
}

.slider .slider-inner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.slider .slider-inner li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 600ms;
    transition: all 600ms;
    pointer-events: none
}

.slider .slider-inner li.show {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    z-index: 1;
    pointer-events: auto
}

.slider .nav {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 0
}

.slider .nav li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 15px;
    background: #ddd;
    cursor: pointer;
    -webkit-transition: background 400ms;
    transition: background 400ms
}

.slider .nav li:hover {
    background: #aaa
}

.slider .nav li.current {
    background: #aaa
}

.slider .arrow {
    position: absolute;
    top: 50%;
    font-size: 20px;
    cursor: pointer;
    width: 20px;
    height: 40px;
    background: #000;
    color: #fff;
    line-height: 40px;
    padding: 5px;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms
}

.slider .arrow:hover {
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"
}

.slider .arrow#arrow-prev {
    left: 0;
    -webkit-transform: translate(-100%,-50%);
    transform: translate(-100%,-50%)
}

.slider .arrow#arrow-next {
    right: 0;
    -webkit-transform: translate(100%,-50%);
    transform: translate(100%,-50%)
}
